<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Do Master</title>
    <link rel="stylesheet" href="./style/variables.css">
    <link rel="stylesheet" href="./style/style.css">
    <script src="https://kit.fontawesome.com/dbac956282.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <up-down-triangle :triangle-props="true" prefix-props="fa-brands" icon-props="fa-youtube" text-h1-props="+500 mil" text-h3-props="inscritos no youtube!"></up-down-triangle>
        <section id='description'>
            <div class="container">
                <h2 class="text-style-destaque-32-px">tudo feito para <span class="brown-color">você!</span></h2>
                <p> <strong>O MCA é um treinamento completo de Marketing Digital</strong> onde eu vou te ensinar tudo que fiz para chegar onde estou hoje, <br>
                aos 18 anos, faturando mais de R$500.000,00 por mês.</p>
                <p><strong>É um passo a passo completo, que vai te direcionar para evitar a overdose de informações</strong> e garantir que você saia do <br>
                zero e alcance resultados inimagináveis através do Marketing Digital.</p>
                <p>É um método prático e fácil de ser aplicado, <strong>validado por alunos que hoje já conseguiram sua liberdade financeira e <br>
                vivem da sua renda através da internet.</strong></p>
                <h2 class="text-style-destaque-32-px"><b>*resultados dos nossos alunos*</b></h2>
                <div class="slide-infinite-loop-container" @mouseleave="stopDrag" @mousedown="startDrag" @mouseup="stopDrag" @mousemove="moveSlide">
                    <div class="slide-itens-container">
                        <slide-itens v-if="cloneLeft" :imgs-props="[{src:'/img/imgSlide/image6.png'}, {src:'/img/imgSlide/image7.png'}, {src:'/img/imgSlide/image8.png'}, {src:'/img/imgSlide/image9.png'}, {src:'/img/imgSlide/image10.png'}, {src:'/img/imgSlide/image11.png'}, {src:'/img/imgSlide/image12.png'}, {src:'/img/imgSlide/image13.png'}, {src:'/img/imgSlide/image14.png'}, {src:'/img/imgSlide/image15.png'}, {src:'/img/imgSlide/image16.png'},{src:'/img/imgSlide/image17.png'}]"></slide-itens>
                        <slide-itens v-if="original" :imgs-props="[{src:'/img/imgSlide/image6.png'}, {src:'/img/imgSlide/image7.png'}, {src:'/img/imgSlide/image8.png'}, {src:'/img/imgSlide/image9.png'}, {src:'/img/imgSlide/image10.png'}, {src:'/img/imgSlide/image11.png'}, {src:'/img/imgSlide/image12.png'}, {src:'/img/imgSlide/image13.png'}, {src:'/img/imgSlide/image14.png'}, {src:'/img/imgSlide/image15.png'}, {src:'/img/imgSlide/image16.png'},{src:'/img/imgSlide/image17.png'}]"></slide-itens>
                        <slide-itens v-if="cloneRigth" :imgs-props="[{src:'/img/imgSlide/image6.png'}, {src:'/img/imgSlide/image7.png'}, {src:'/img/imgSlide/image8.png'}, {src:'/img/imgSlide/image9.png'}, {src:'/img/imgSlide/image10.png'}, {src:'/img/imgSlide/image11.png'}, {src:'/img/imgSlide/image12.png'}, {src:'/img/imgSlide/image13.png'}, {src:'/img/imgSlide/image14.png'}, {src:'/img/imgSlide/image15.png'}, {src:'/img/imgSlide/image16.png'},{src:'/img/imgSlide/image17.png'}]"></slide-itens>

                    </div>
                </div>
                <btn-whats text-props="quero um mini curso" link-props="#"></btn-whats> 
            </div>
        </section>
        <up-down-triangle :triangle-props="false" prefix-props="fa-solid" icon-props="fa-triangle-exclamation" text-h2-props="leia para poupar seu tempo" text-p-props="Você vai aprender com uma pessoa que já trilhou o caminho das pedras e passou pelo processo difícil do início de qualquer jornada. Nesse processo descobriu o que funciona e o que não funciona, para ensinar de uma forma que vai e poupar tempo e dinheiro."></up-down-triangle>
        <section id="apresentation">
            <div class="container">
                <div class="apresentation-container">
                    <img src="./img/CaioM.png">
                    <div class="informations">
                        <h2 class="brown-color text-style-destaque-32-px">Prazer, Caio M.</h2>
                        <p class="text-style-paragrafo-16-px"><strong>Especialista no Mercado Digital</strong> iniciei como afiliado através de grupos pelo Facebook.</p>
                        <p class="text-style-paragrafo-16-px">Atualmente já trabalho com marketing há <b>3 anos</b> e graças a ele, pude morar sozinho com apenas 17 anos!</p>
                        <p class="text-style-paragrafo-16-px"><b>Hoje em dia, já faturo mais de R$500.000,00 por mês</b> com vendas pela internet e ajudo meus seguidores a começarem a faturar com vendas sem sair de casa!</p>
                        <p class="text-style-paragrafo-16-px"><strong>Com mais de 400 mil inscritos no YouTube</strong>atualmente me dedico a ajudar todos os que desejam sair da CLT para começar a ganhar a vida com a internet.</p>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="elementor-shape-fill" d="M500,98.9L0,6.1V0h1000v6.1L500,98.9z"></path>
            </svg>
        </section>
        <section id="autoridade">
            <div class="container">
                <div class="div-container">
                    <div class="verify-container">
                        <img src="/img/verificado.png" alt="imagem de verificado">
                        <h2 class="text-style-destaque-32-px">Autoridade Reconhecida</h2>
                        <p class="text-style-paragrafo-16-px">O que diz alguns dos principais portais de notícias do Brasil sobre o crescimento de Caio Martins no Marketing Digital.</p>
                    </div> <!--fim do verify-container-->
                    <div class="imgs-container">
                        <img src="/img/verify/image21.png">
                        <img src="/img/verify/image22.png">
                        <img src="/img/verify/image23.png">
                    </div> <!--fiim do imgs-container-->
                    <btn-whats text-props="receber 3 aulas gratis" link-props="#"></btn-whats>
                </div>
            </div>
        </section>
        <up-down-triangle text-h1-props="+154 mil" text-h3-props="alunos!" prefix-props="fa-solid" icon-props="fa-user" :triangle-props="false"></up-down-triangle>
        <section id="goal">
            <div class="container">
                <div class="ul-container">
                    <h2 class="text-style-destaque-32-px">Para quem é o <abbr title="perguntar ao master" class="brown-color">MAC</abbr>?</h2>
                    <ul>
                        <li><span class="brown-background"><i class="fa-sharp fa-solid fa-check"></i></span>Para pessoas que querem alcançar sua <b> liberdade financeira e geográfica</b>;</li>
                        <li><span class="brown-background"><i class="fa-sharp fa-solid fa-check"></i></span><b>Para quem quer começar a faturar através do mercado digital</b>, mas não sabe por onde começar;</li>
                        <li><span class="brown-background"><i class="fa-sharp fa-solid fa-check"></i></span>Para quem deseja <b>acabar de vez com a overdose de informações</b> e procura um direcionamento;</li>
                        <li><span class="brown-background"><i class="fa-sharp fa-solid fa-check"></i></span>Para pessoas que <strong>querem ganhar dinheiro através da internet</strong>;</li>
                        <li><span class="brown-background"><i class="fa-sharp fa-solid fa-check"></i></span>Para quem quer trabalhar no conforto da sua casa.</li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="netflix-lol">
            <div class="container">
                <div class="general-container">
                    <h2 class="text-style-destaque-32-px">A sua <cite><b>Netflix</b></cite> de conteúdos! <br>
                    Tudo isso e muito mais dentro do <abbr class="brown-color">MCA</abbr></h2>
                    <imgs-netflix :img-src-props="[{src:'/img/imgsCard/image29.png'},{src:'/img/imgsCard/image30.png'},{src:'/img/imgsCard/image31.png'},{src:'/img/imgsCard/image32.png'},{src:'/img/imgsCard/image33.png'},{src:'/img/imgsCard/image34.png'},
                    {src:'/img/imgsCard/image35.png'},{src:'/img/imgsCard/image36.png'},{src:'/img/imgsCard/image37.png'},{src:'/img/imgsCard/image38.png'},{src:'/img/imgsCard/image39.png'},{src:'/img/imgsCard/image40.png'}]">
                </imgs-netflix>
                <btn-whats text-props="chama no whatsapp" link-props="#"></btn-whats>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="footer-container">
                    <img src="/img/logotipo.png">
                    <p class="text-style-label-14-px">O Máquina de Comissões Automática é uma empresa com o objetivo de ajudar pessoas a obterem resultados financeiros
                    utilizando o poder da internet através de cursos digitais. Não reivindicamos ou declaramos que ao usar o método, você
                    ganhará dinheiro ou recuperará seu dinheiro. Os depoimentos mostrados são negócios e vão variar com base no seu esforço,
                    no conhecimento que você adquirir e nas forças do mercado que estão além do controle de qualquer pessoa.</p>
                    <p class="copyright"><span>copyright</span> © Máquina de Comissões Automáticas</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script src="./app.js" type="module"></script>
   <script src="./scripts/slideInfinite.js" type="text/javascript"> </script>
</body>
</html>